<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true"/>
    </include>

    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find astro_description)/urdf/astro.xacro'" />

    <!-- Spawn robot model -->
    <node
      name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model astro -x 0 -y 0 -z 0.5" />

    <!-- Load the controllers -->
    <rosparam file="$(find astro_control)/config/joints.yaml" command="load" />

    <!-- Launch controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="/astro"
      args="joint_state_controller joint_position_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>
