<launch>
  <param name="astro_robot_description" command="$(find xacro)/xacro --inorder '$(find astro_description)/urdf/astro.xacro'"/>

  <!-- Converts Cartesian state to joint state and publish TFs to rviz  --> 
  <node name="astro_xpp_visualizer" pkg="astro_xpp" type="astro_xpp_visualizer" output="screen"/>

  <!-- Launch rviz with specific configuration -->
  <node name="rviz_xpp" pkg="rviz" type="rviz" args="-d $(find astro_xpp)/rviz/astro_xpp.rviz">
  </node>

  <!-- visualizes goal, opt. parameters and cartesian base state, endeffector positions and forces -->
  <node name="rviz_marker_node" pkg="xpp_vis" type="rviz_marker_node" output="screen">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <remap from="robot_description" to="astro_robot_description"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <remap from="robot_description" to="astro_robot_description"/>
  </node>
</launch>