<launch>
  <!-- <group ns="/astro"> -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true"/>
    </include>

    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find astro_description)/urdf/astro.xacro'" />

    <!-- Spawn robot model -->
    <node
      name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model astro -x 0 -y 0 -z 1" />
    <!-- <node
      name="fake_joint_calibration"
      pkg="rostopic"
      type="rostopic"
      args="pub /calibrated std_msgs/Bool true" /> -->

    Load the controllers
    <rosparam command="load" file="$(find astro_description)/config/joints.yaml" />

    <!-- Launch controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="/astro"
      args="--namespace=/astro
      joint_state_controller
      joint1_position_controller
      --timeout 60">
    </node>

  <!-- </group> -->
</launch>
